body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Light gray background */
}

header {
  background-color: rgb(238, 47, 47);
  color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.logo img {
  width: 100%; 
  max-width: 320px; 
}


.ChurchName {
  margin-top: 3px; 
}


.contact-info p {
  margin-top: 20px;
  margin-left: 5px;
  color:black; /* Dark gray text color */
  
}

.contact-info a {
  color: black; /* Dark gray link color */
  text-decoration: none;
  
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info i {
  margin-right: 5px; 
  
}

main {
  padding: 20px;
}

.about-us {
  margin-top: 20px; 
  background-color: #87ceeb; /* Gold background */
  color: white; /* Dark gray text color */
  padding: 20px;
  margin-bottom: 20px;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us ul li {
  margin-bottom: 10px;
}

.worship-services {
  background-color: gold; /* Sky blue background  #ff6347;*/
  color: #fff; /* White text color */
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: rgb(238, 47, 47); /* Purple background */
  color: #fff; /* White text color */
  padding: 10px;
  text-align: center;
}

.background-slider {
  overflow: hidden;
}

.background-images {
  display: flex;
  animation: slideImages 40s infinite; 
 
  
}

.background-images img {
  width: 100%;
  height: auto;
}

@keyframes slideImages {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-20%);
  }
  30% {
    transform: translateX(-30%);
  }
  40% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(-50%);
  }
  60% {
    transform: translateX(-60%);
  }
  70% {
    transform: translateX(-70%);
  }
  80% {
    transform: translateX(-80%);
  }
  90% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0);
  }
}
.custom-bullet-list {
  list-style-type: none;
}

.custom-bullet-list li::before {
  content: "\1F449"; 
  font-family: 'Segoe UI Emoji', sans-serif; 
  font-size: 1.5em; 
  margin-right: 10px;
}

.form-group {
  margin-top: 10px;
}

.submit {
  margin-left: 140px;
}
.message{
margin-bottom: 400px;
}

.container{
  margin-left: 10px;
}

/* styles.css */
.beliefs .content {
  display: none;
}

.beliefs .content.active {
  display: block;
}


.logo {
  text-align: center;
}

.logo img {
  max-width: 200px; /* Adjust logo size as needed */
}

.church-name {
  font-size: 50px;
  color:white;
  
}

.copy{
  margin-left: 500px;
  margin-top: 1px;
}

.Navigations a {
  margin-left: 1px;
  color: white;
}

.event-picture {
  width: 46%;
  height: auto;
}

.pastor-biography-picture {
  width: 1%;
  height: auto;
}
