/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .logo {
    text-align: center; /* Center the logo */
    margin-bottom: 10px; /* Add some space between logo and church name */
  }

  .church-name {
    text-align: center; /* Center the church name */
    margin-top: 5px; /* Add some space between logo and church name */
  }

  .contact-info {
    text-align: center; /* Center the contact information */
  }

  .contact-info p {
    margin: 5px 0;
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .contact-info a {
    display: block; /* Make links block elements for better spacing */
  }
  
  .copy {
    text-align: center; /* Center the copyright text */
    margin-left: 0; /* Reset left margin */
  }
}
